@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
	--lighter-violet-color: rgb(251, 247, 255);
	--lighter-violet-value: 251, 247, 255;

	--light-violet-color: rgb(222, 190, 253);
	--light-violet-value: 222, 190, 253;

	--violet-color: rgb(66, 6, 241);
	--violet-value: 66, 6, 241;

	--dark-violet-color: rgb(39, 2, 69);
	--dark-violet-value: 39, 2, 69;

	--darker-violet-color: rgb(25, 1, 44);
	--darker-violet-value: 25, 1, 44;

	--darkest-violet-color: rgb(11, 0, 19);
	--darkest-violet-value: 11, 0, 19;

	--magenta-color: rgb(254, 24, 211);
	--magenta-value: 254, 24, 211;

	--dark-magenta-color: rgb(135, 26, 133);
	--dark-magenta-value: 135, 26, 133;

	--darker-magenta-color: rgb(114, 22, 112);
	--darker-magenta-value: 114, 22, 112;

	--red-color: rgb(255, 41, 65);
	--red-value: 255, 41, 65;

	--yellow-color: rgb(254, 255, 56);
	--yellow-value: 254, 255, 56;

	--gray-color: rgb(95, 83, 112);
	--gray-value: 95, 83, 112;
}

html {
	cursor: default;
	box-sizing: border-box;
	overflow-wrap: anywhere;
	word-break: break-word;
	hyphens: auto;
	background: var(--darker-violet-color);
	background: linear-gradient(
		to bottom,
		var(--darker-violet-color) 0%,
		var(--darker-magenta-color) 40%,
		var(--darkest-violet-color) 100%
	);
	color: var(--lighter-violet-color);
	/*Prevent adjustments of font size Windows Phone/iOS*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*Remove grey highlight on links in iOS*/
	-webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	position: relative;
	color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}

	*,
	*:before,
	*:after {
		transition: all 0.2s ease;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(
		0deg,
		rgba(var(--magenta-value), 0.02) 16.67%,
		rgba(var(--gray-value), 0.02) 16.67%,
		rgba(var(--gray-value), 0.02) 50%,
		rgba(var(--magenta-value), 0.02) 50%,
		rgba(var(--magenta-value), 0.02) 66.67%,
		rgba(var(--gray-value), 0.02) 66.67%,
		rgba(var(--gray-value), 0.02) 100%
	);
	background-size: 30px 10px;
}

body:before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(var(--darkest-violet-value), .5);
}

/**
  * block labels to stay above inputs
  */

label {
	display: block;
}

/**
  * Remove the margin and padding on controls/inputs
  */

button,
input,
fieldset,
textarea {
	margin: 0;
	padding: 0;
}

/**
  * 1rem default for inputs to avoid zoom on ios
  */

input,
textarea {
	font-size: 1rem;
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
  * resetting fieldset
  */

fieldset {
	min-width: 0;
	width: -moz-fit-content;
	width: fit-content;
}

/**
  * Textareas only resize vertically by default
  */

textarea {
	resize: vertical;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */

:-moz-ui-invalid {
	box-shadow: none;
}

/**
  * Single taps are dispatched immediately on clickable elements
  */
a,
button,
input,
label,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/**
		* ARIA roles include visual cursor hints
		*/
[aria-busy="true"] {
	cursor: progress;
}

[aria-disabled="true"],
[disabled] {
	cursor: not-allowed;
}

/**
  * Remove all margin/padding on headers
  */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/**
  * Remove all margin/padding on text
  */
p {
	margin: 0;
	padding: 0;
}

/**
  * Remove all margin/padding on lists
  * as well as default list styles
  */

ul,
ol,
li,
dl,
dd,
dt {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/**
  * Button and link resets
  */
button {
	cursor: pointer;
	user-select: none;
}

a {
	text-decoration: none;
}

/**
  * Heading and text typography
  */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Pacifico", Comic Sans MS, cursive;
	letter-spacing: 2.5px;
}

p,
a,
button,
li,
dd,
dt,
label,
b,
strong,
legend {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
}

/**
  * headings/text font-size SMALL
	* main heading smaller for extra small screens
  */

h1 {
	font-size: 1.777rem;
}

h2 {
	font-size: 1.777rem;
}

h3 {
	font-size: 1.333rem;
}

h4 {
	font-size: 1rem;
	/*same size as text*/
}

p,
a,
button,
li,
dd,
label,
b,
strong,
dt,
legend {
	font-size: 1rem;
}

@media (min-width: 300px) {
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: 350px) {
	h1 {
		font-size: 2.369rem;
	}
}

/**
  * headings/text font-size MEDIUM
  */
@media (min-width: 650px) {
	h1 {
		font-size: 3.157rem;
	}

	h2 {
		font-size: 2.369rem;
	}

	h3 {
		font-size: 1.777rem;
	}

	h4 {
		font-size: 1.333rem;
	}
}

/**
  * headings/text font-size LARGE
  */
@media (min-width: 1250px) {
	h1 {
		font-size: 4.209rem;
	}

	h2 {
		font-size: 3.157rem;
	}

	h3 {
		font-size: 2.369rem;
	}

	h4 {
		font-size: 1.777rem;
	}

	p,
	a,
	button,
	li,
	dd,
	label,
	b,
	strong,
	dt,
	legend {
		font-size: 1.333rem;
	}
}

/**
  * bold font weight for titles/important text
  */

b,
strong,
dt,
legend {
	font-weight: bold;
}

/* utilities */

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.visually-hidden-relative {
	display: inline-block;
	position: relative;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}
