@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
	cursor: default;
	box-sizing: border-box;
	word-break: break-word;
	background: rgb(25, 1, 44);
	background: linear-gradient(
		to bottom,
		rgb(25, 1, 44) 0%,
		rgb(114, 22, 112) 40%,
		rgb(11, 0, 19) 100%
	);
	color: ghostwhite;
	/*Prevent adjustments of font size Windows Phone/iOS*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*Remove grey highlight on links in iOS*/
	-webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	position: relative;
	color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}

	*,
	*:before,
	*:after {
		transition: all 0.2s ease;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(
		0deg,
		rgba(254, 24, 211, 0.02) 16.67%,
		rgba(95, 83, 112, 0.02) 16.67%,
		rgba(95, 83, 112, 0.02) 50%,
		rgba(254, 24, 211, 0.02) 50%,
		rgba(254, 24, 211, 0.02) 66.67%,
		rgba(95, 83, 112, 0.02) 66.67%,
		rgba(95, 83, 112, 0.02) 100%
	);
	background-size: 30px 10px;
}

/**
  * Remove all margin/padding on headers
  */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/**
  * Remove all margin/padding on text
  */
p {
	margin: 0;
	padding: 0;
}

/**
  * Remove all margin/padding on lists
  * as well as default list styles
  */

ul,
ol,
li,
dl,
dd,
dt {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/**
  * Button and link resets
  */
button {
	cursor: pointer;
	user-select: none;
}

a {
	text-decoration: none;
}

/**
  * Heading and text typography
  */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Pacifico", Comic Sans MS, cursive;
	letter-spacing: 2.5px;
}

p,
a,
button,
li,
dd,
dt,
label,
b,
strong,
legend {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
}

/**
  * headings/text font-size SMALL
  */

h1 {
	font-size: 2.369rem;
}

h2 {
	font-size: 1.777rem;
}

h3 {
	font-size: 1.333rem;
}

h4 {
	font-size: 1rem;
	/*same size as text*/
}

p,
a,
button,
li,
dd,
label,
b,
strong,
dt,
legend {
	font-size: 1rem;
}

/**
  * headings/text font-size MEDIUM
  */
@media (min-width: 650px) {
	h1 {
		font-size: 3.157rem;
	}

	h2 {
		font-size: 2.369rem;
	}

	h3 {
		font-size: 1.777rem;
	}

	h4 {
		font-size: 1.333rem;
	}
}

/**
  * headings/text font-size LARGE
  */
@media (min-width: 1250px) {
	h1 {
		font-size: 4.209rem;
	}

	h2 {
		font-size: 3.157rem;
	}

	h3 {
		font-size: 2.369rem;
	}

	h4 {
		font-size: 1.777rem;
	}

	p,
	a,
	button,
	li,
	dd,
	label,
	b,
	strong,
	dt,
	legend {
		font-size: 1.333rem;
	}
}

/**
  * bolder font weight for titles/important text
  */

b,
strong,
dt,
legend {
	font-weight: bolder;
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */

[aria-busy="true"] {
	cursor: progress;
}

/* utilities */

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.visually-hidden-relative {
	display: inline-block;
	position: relative;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}
