html {
	cursor: default;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	word-break: break-word;
	background: rgb(25,1,44);
	background: linear-gradient(to bottom,
	rgba(25,1,44,1) 0%,
	rgba(114,22,112,1) 50%,
	rgba(25,1,44,1) 100%);
	color: ghostwhite;
	/*Prevent adjustments of font size Windows Phone/iOS*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*Remove grey highlight on links in iOS*/
	-webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	position: relative;
	color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}

	*,
	*:before,
	*:after {
		transition: all 0.2s ease;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(0deg, 
	rgba(254, 24, 212, .02) 16.67%, 
	rgba(95, 83, 112, .02) 16.67%, 
	rgba(95, 83, 112, .02) 50%, 
	rgba(254, 24, 211, .02) 50%, 
	rgba(254, 24, 211, .02) 66.67%, 
	rgba(95, 83, 112, .02) 66.67%, 
	rgba(95, 83, 112, .02) 100%);
	background-size: 30.00px 30.00px;
}

body:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(	25, 1, 44, .1);
}

/**
  * Remove all margin/padding on headers
  */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/**
  * Remove all margin/padding on text
  */
p {
	margin: 0;
	padding: 0;
}

/**
  * Remove all margin/padding on lists
  * as well as default list styles
  */

ul,
ol,
li,
dl,
dd,
dt {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/**
  * Button and link resets
  */
button {
	cursor: pointer;
	user-select: none;
}

a {
	text-decoration: none;
}

/**
  * bolder font weight for titles/important text
  */

b,
strong,
dt,
legend {
	font-size: 0.95rem;
	font-weight: bolder;
	font-family: Georgia, "Times New Roman", Times, serif;

	@media (min-width: 750px) {
		font-size: 1rem;
	}
}

/**
  * headings/text font-size
  */
h4 {
	font-size: 1rem;

	@media (min-width: 750px) {
		font-size: 1.1rem;
	}
}

h3 {
	font-size: 1.1rem;

	@media (min-width: 750px) {
		font-size: 1.3rem;
	}
}

h2 {
	font-size: 1.25rem;

	@media (min-width: 750px) {
		font-size: 1.5rem;
	}
}

h1 {
	font-size: 1.3rem;

	@media (min-width: 750px) {
		font-size: 1.6rem;
	}
}

p,
li,
dd,
label {
	font-size: 0.95rem;

	@media (min-width: 750px) {
		font-size: 1rem;
	}
}

a,
button {
	font-size: 0.85rem;

	@media (min-width: 750px) {
		font-size: 0.95rem;
	}
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */

[aria-busy="true"] {
	cursor: progress;
}

/* utilities */

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.visually-hidden-relative {
	display: inline-block;
	position: relative;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}
